.float_right_project_image {
  float: right;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.text_space {
  padding: 2em;
}

.center_heading {
  display: flex;
  justify-content: center;
}

.line {
  width: 30%;
  border: 2px solid #5c98d6;
}

.center_text {
  text-align: center;
}
