.float_right_project_image {
  float: right;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.text_space {
  padding: 2em;
}

.center_heading {
  display: flex;
  justify-content: center;
}

.line {
  width: 30%;
}

.center_text {
  text-align: center;
}

.module_table {
  display: flex;
  justify-content: center;
  width: 50%;
}

.module_table th {
  background-color: #22ddb6;
  text-align: center;
  color: white;
}
